:root{
    --colorPrincipal:   rgb(242, 182, 214);
    --colorBotones:rgb(243, 118, 185);
    --color-blanco:white;
    --color-gris:rgb(168, 167, 167);
    --color-negro:black;
}
.acciones__detalleProducto{
    padding: 1em;
    background-color:rgb(225, 220, 220) ;
    color: var(--color-gris);
    display: flex;
    gap: 1em;
}
.acciones__detalleProducto a,.acciones__detalleProducto i{
    padding-left: 1em;
    color: rgb(123, 120, 120);
}

.producto__container-producto{
display: flex;
gap: 2em;
padding: 2em;
}

.imagen_detalleProducto{
    width: 50%;
}
.producto__container-producto img{
    width: 100%;
    height: 100vh;
    padding: 2em;
  
}
.producto-detalle__producto{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding:2em ;
}
.opciones-producto__producto{
    display: flex;
    gap: 2em;
}
.btnAgregarPrenda__detallePrenda{
    background-color: var(--colorBotones);
    color: var(--color-blanco);
    padding: 2em;
    cursor: pointer;
}

.container-botones__detallePrendas{
    display: flex;
    gap: 1em;
}
.mas, .menos, .btnAgregarQuitarPrenda span,.btnAgregarPrenda__detallePrenda,
 .btnAgregarQuitarPrenda{
    width: 15em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.mas, .menos, .btnAgregarQuitarPrenda span{
    cursor: pointer;
}
.btnAgregarQuitarPrenda{
    border: 1px solid rgb(211, 207, 207);
}

.carrusel-contenedor {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  gap: 1em;
  padding: 1em;
  scrollbar-width: none;
}
.carrousel-relacionados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.carrusel-contenedor::-webkit-scrollbar {
  display: none;
}

.carrusel-contenedor .producto {
  flex: 0 0 auto;
  width: 200px;
  scroll-snap-align: start;
  background: #fff;
  border: 1px solid #ccc;
  padding: 0.5em;
  border-radius: 10px;
  transition: transform 0.3s;
}

.carrusel-contenedor .producto:hover {
  transform: scale(1.05);
}

.carrusel-contenedor .producto img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}
